.player {
display: flex;
align-items: center;
background-color: rgba(128, 128, 128, 0.518);
width: 200px;
border-top-left-radius: 30px;
border-bottom-left-radius: 30px;

    img {
        height: 70px;
        object-fit: cover;
        border-radius: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    span{
        font-size: 27px;
        margin-left: 13px;
    }
}

.player-active {
    background-color: rgba(145, 35, 143, 0.819) !important;
}